@charset "UTF-8";
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#cover_image {
    background-image: url(home_image_copy.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 40vw
}

#title {
    color: white;
    font-family: 'Italianno', cursive;
    font-size: 5.2vw;
    transform: translate(-50%, 21vw);
    margin-left: 50%;
    text-align: center;
}

#title_description {
    margin-top: 3%;
    font-size: 1.3vw;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    font-weight: 300;
}

#info_body {
    font-size: 20px;
    color: rgb(100, 100, 100);
    width: 80vw;
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-top: 5%;
    height: 40vw;
}

#logo {
    width: 12vw;
    height: 12vw;
    background-image: url(declan_nixon_logo.png);
    background-size: cover;
    transform: translate(35%, 10%);
    position: absolute;
}

#nav_items {
    position: absolute;
    background-color: rgba(38, 59, 4, 0.2);
    border-width: 1.5px 0px 1.5px 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    margin-top: 5.1vw;
    height: 3vw;
    width: 100%;
}

#nav_item_menus {
    margin-left: auto;
    margin-right: 0;
    width: 15vw;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.3vw;
    margin-right: 10%;
    margin-top: 0.8%;
}

#about {
    float: left;
}

#nominate {
    float: right;
}

#footer {
    background-color: rgba(19, 60, 6, 1);
    color: white;
    width: 100%;
    height: 10vw;
}

#bottom_contact {
    text-align: center;
    padding-top: 4.5vw;
}

#about_section {
    position: absolute;
}

#writing_about {
    float: left;
    text-align: left;
}

#picture_about {
    float: right;
    background-image: url("garden_house.png");
    width: 30vw;
    height: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 3.5vw;
}

#about_title {
    font-size: 3.8vw;
    color: rgba(0, 0, 0, 0.3);
    margin-top: 4vw;
}

#about_para {
    margin-top: 4vw;
    width: 35vw;
    font-size: 1.3vw;
}

#a,
a:link,
a:visited {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

#a,
a:hover {
    color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 900px) {
    #cover_image {
        background-repeat: no-repeat;
        background-size: auto 100%;
        height: 60vh
    }
    #title {
        font-size: 9vw;
        width: 100%;
        transform: translate(-50%, 30vh);
    }
    #title_description {
        font-size: 3vw;
    }
    #subtitle_description {
        font-size: 17px;
        width: 60vw;
    }
    #logo {
        width: 20vw;
        height: 20vw;
    }
    #nav_items {
        margin-top: 7%;
        height: 8vw;
    }
    #nav_item_menus {
        margin-top: 2%;
        font-size: 3.2vw;
        width: 35vw;
    }
    #footer {
        bottom: 0;
        height: 8vh;
    }
    #info_body {
        height: 150vw;
    }
    #about_title {
        font-size: 6.5vw;
        margin-top: 14vw;
    }
    #about_para {
        margin-left: 50%;
        transform: translate(-50%, 0);
        font-size: 3.2vw;
        margin-top: 12vw;
        width: 80vw;
    }
    #writing_about {
        float: none;
    }
    #picture_about {
        float: none;
        width: 75vw;
        height: 75vw;
        margin-top: 15vw;
    }
}